
<h1 >Student Data</h1>
<div *ngIf="flage===true">
<!-- <app-home (updateDataEvent)="update($event)"></app-home> -->
<table  class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>OfferType</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let indexOfelement=index">
            <td>{{indexOfelement}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.offertype}}</td>
        </tr>
    </tbody>
</table>
</div>
<!-- <app-admin [item]="users"></app-admin> -->
