<p>seller-product works!</p>

<div class="add-product">
    <h1>Add New Product</h1>

    <form class="common-form" #addProduct="ngForm" (ngSubmit)="addproduct(addProduct.value)">
        <input class="form-input" ngModel class="form-input" type="text" name="name" placeholder="Enter Product name">

        <input class="form-input" placeholder="Enter Product price" type="number" name="price" ngModel>

        <input class="form-input" type="text" placeholder="Enter Product Category" name="category" ngModel>

        <textarea class="form-input" placeholder="Ente product Description" name="Description"></textarea>

        <button>Add product</button>
    </form>
</div>