<h1>about page</h1>
<img src="../assets/img.jpg" class="rounded float-left" style="margin-left: 580px; width: 140px; height: 140px;">

<h1 style="text-align: center;">CEO of Exxat: Arti Vaishnav</h1>

<p style="text-align: center;">Aarti Vaishnav is the Founder and Chief Executive Officer of Exxat. Her primary role is to develop Exxat’s product roadmap and strategy. She is also responsible for setting the company’s culture and vision.
</p>
<p>Aarti worked in the healthcare and university setting for 15 years before starting Exxat. She is an Information Technology engineer with a Master’s degree in Computer Science and a Master’s in Applied Biostatistics and Epidemiology. She also did her MBA from the University of Southern California.</p>

<p>She believes that successful companies are built, not launched. This was the topic of her TEDx talk at G.C.E.T. in 2018</p>

<p>Aarti believes that “you build and make companies successful by understanding and inculcating the company’s core values and implementing this understanding while making any decision in the company.”</p>
    
<p>Aarti draws inspiration from Maya Angelou's life philosophy, “Do the best you can until you know better. Then when you know better, do better".</p>
    
<p>Being a woman CEO in technology, Aarti is aware of the gender biases in the Information Technology industry. She has made it her goal to ensure gender equality in employment at Exxat. Exxat employs about 50% women in technical teams today.</p>